* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Helvetica, "Trebuchet MS", sans-serif;
  background: #fff url(../img/bg.png);
  margin: 15px;
}

#container {
  background: #ede9cc url(../img/bg-container.png) top center repeat-y;
  max-width: 1180px;
  min-width: 740px;
  margin: 0 auto;
}

header {
  position: relative;
  background: #dbcd87;
  height: 15.4em;
  min-height: 250px;
}

#logo-area {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/topo-imagem-principal.png) no-repeat;
  width: 100%;
  height: 250px;
  z-index: 1;
}

#logo-area a {
  background: url(../img/logo.png) no-repeat;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 151px;
  height: 66px;
  z-index: 3;
  text-indent: -9000px;

}

#menu-area {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/topo-imagem-lateral.png);
  width: 450px;
  height: 250px;
  z-index: 2;
}

#container-menu {
  margin: 0 15px 0 90px;
  padding-top: 15px;
}

#hotel-cities {
  border-bottom: 1px solid #b5ab56;
  border-top: 1px solid #b5ab56;
  padding: 10px 0;
  font-size: 0.7em;
  color: #8b8448;
}

#hotel-cities a {
  background: #a29750;
  color: #fff5b0;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-left: 42px;
}

nav {
  margin-top: 15px;
}

nav a {
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px;
  color: #6e672c;
  line-height: 30px;
}

nav a:hover {
  background: #fdf6be;
}

section {
  float: left;
  width: 50%;
  background: url(../img/bg-area-principal.png) top center repeat-x;
  padding: 15px 0;
}

aside {
  float: right;
  width: 50%;
  background: url(../img/bg-area-lateral.png) top center repeat-x;
  padding: 20px 0;
}

.content {
  width: 90%;
  margin: 0 auto;
}

h2 {
  color: #7d7640;
  font-size: 1.2em;
  padding: 5px 0;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

#benefits li {
  padding: 8px;
  border-bottom: 1px solid #f3efcb;
  height: 6em;
}

#benefits li:hover {
  background: #f6f3d6;
  cursor: pointer;
}

#benefits li a img {
  float: left;
  margin-right: 8px;
}

#benefits li a p {
  color: #000;
  font-size: 0.8em;
}

#benefits li a h3 {
  font-size: 1em;
  color: #615b2d;
  padding: 5px 0;
  background: url(../img/ornamento.png) no-repeat center right;
}

footer {
  clear: both;
  padding: 16px;
  background: #fff url(../img/bg-rodape.png) repeat-x top;
  color: #7d7640;
}

@media (max-width: 700px) {
  #container {
    min-width: 600px;
    background: #ede9cc;
  }
  
  #menu-area {
    width: 450px;
  }
  
  #hotel-cities {
    width: 282px;
    font-size: 0.6em;
  }
  
  #hotel-cities a {
    padding: 5px 10px;
    margin-left: 20px;
  }
  
  section {
    border-bottom: 5px solid #615b2d;
  }

  section, aside {
    float: none;
    background: none;
    width: 100%;
  }
}

@media(max-width:400px) {
  body{
   margin: 0; 
  }
  #container {
    min-width: 390px;
  }
  
  #menu-area {
    width: 245px;
  }

  #container-menu {
    margin-left: 25px;
  }

  #hotel-cities {
    width: 100%;
    font-size: 0.5em;
  }

  #hotel-cities a {
    font-size: 0.6em;
    padding: 4px 6px;
    margin-left: 2px;
  }

  nav {
    margin-left: 90px;
  }

  nav a {
    border-bottom: 1px solid #b5ab56;
  }

  nav #last {
    border-bottom: none;
  }
}
